<header class="site-header">
  <div class="container">
    <h1>TP06 Guillaume KLEIN</h1>
    <nav>
      <ul>
        <li><a routerLink="/body">Formulaire</a></li>
        <li><a routerLink="/catalogue">Catalogue</a></li>
        <li><a routerLink="/gestion-cartes">Gestion des Cartes</a></li>
        <li><a routerLink="/articles">Shop</a></li>       
        <li><a routerLink="/cart">Panier</a></li>            
        <li><a routerLink="/account">Compte client</a></li>
      </ul>
    </nav>
  </div>
  <!-- Affiche le nombre d'articles dans le panier -->
<app-cart-item-count></app-cart-item-count>
</header>
